<div class="login-card" *ngIf="!loginService.getUser()">
    <h1 class="login-title">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" [formControl]="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" [formControl]="password" />
            <div *ngIf="password.hasError('minlength') && username.dirty" class="ui negative message">Password is less than 8 characters</div>
            <div *ngIf="message" class="ui negative message">{{ message }}</div>
        </div>
        <button type="submit" class="btn btn-warning pull-right" [disabled]="!loginForm.valid">Login</button>
    </form>
    <h4 class="signup-invite">Not Registered ? Sign Up <a [routerLink]="signup">here</a>&nbsp;.</h4>
</div>

<div class="well" *ngIf="loginService.getUser()">
    Logged in as <b> {{ loginService.getUser() | uppercase }} </b>
    <br>Go to<a [routerLink]="home"> Home</a>
</div>