<div class="signup-card">
    <h1 class="signup-title">Sign Up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" [formControl]="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" [formControl]="password" />
            <div *ngIf="password.hasError('minlength') && username.dirty" class="ui negative message">Password is less than 8 characters</div>
        </div>
        <button type="submit" class="btn btn-warning pull-right" [disabled]="!signupForm.valid">Signup</button>
    </form>
    <h4 class="signup-invite">Already Registered ? Log In <a href="/login">here</a>&nbsp;.</h4>
</div>