.glyphicon-plus {
    font-size: 7em;
    padding-left: 33%;
    color: darkgrey;
}

.assignedToYou {
    font-family: 'Montserrat', cursive, sans-serif;
    color: white;
    font-size: 3em;
}

.feed {
    background-color: white;
}