<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1 class="assignedToYou" *ngIf="assignedToTasks.length > 0">Assigned To You.</h1>
            <h1 class="assignedToYou" *ngIf="assignedToTasks.length == 0">No Task Assigned To You.</h1>
            <div class="ui link cards">
                <div class="card" *ngFor="let task of assignedToTasks">
                    <div class="content">
                        <div class="header">{{task.name | uppercase }}</div>
                        <div class="meta">
                            Created On: <a>{{task.createdDate | date}}</a> by <b style="text-transform:capitalize">{{task.assignedBy}}</b>
                        </div>
                        <div class="description">
                            {{task.description}}
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
        Deadline: <b>{{task.deadline | date}}</b>
      </span> <span>
        <i class="user icon"></i>
        To: <b style="text-transform:capitalize">{{task.assignedTo}}</b>
      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="assignedToYou" *ngIf="assignedByTasks  > 0">Assigned By You.</h1>
            <h1 class="assignedToYou" *ngIf="assignedByTasks == 0">Assign a new task.</h1>
            <div class="ui link cards">
                <div class="card" (click)="showModal();">
                    <div class="content">
                        <div class="description">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                </div>
                <div class="card" *ngFor="let task of assignedByTasks">
                    <div class="content">
                        <div class="header">{{task.name | uppercase }}</div>
                        <div class="meta">
                            Created On: <a>{{task.createdDate | date}}</a> by <b style="text-transform:capitalize">{{task.assignedBy}}</b>
                        </div>
                        <div class="description">
                            {{task.description}}
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
        Deadline: <b>{{task.deadline | date}}</b>
      </span> <span>
        <i class="user icon"></i>
        To: <b style="text-transform:capitalize">{{task.assignedTo}}</b>
      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui basic modal">
        <div class="ui icon header">
            Create New Task
        </div>
        <div class="content">
            <app-create-task [tasks]="tasks"></app-create-task>
        </div>
    </div>